name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install system deps
        run: sudo apt update && sudo apt install -y pkg-config libfontconfig1-dev libfreetype6-dev
      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            server/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('server/Cargo.lock') }}

      - name: Install Rust 1.91.1
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.91.1
          profile: minimal
          components: rustfmt, clippy
          override: true

      - name: Run tests
        working-directory: ./backend
        run: cargo test --all

